<% provide(:title, "About") %>
<div class="center jumbotron">
<h1>About</h1>
<p>
      The building, located at the high profile junction of Camden Street 
      Lower and Montague Street, dates from 1925 and was originally designed 
      as a purpose built department store (Gorevan Brothers). In 1979 the 
      Irish Nationwide Building Society acquired it and altered it for office use. 
      Then in 2003, the building was sold again and split into two distinct 
      elements –the main ground floor and basement retail unit (now Fresh Supermarket) 
      and three upper floors, which make up Icon Health Club. The building is listed 
      as a protected structure due to its architectural significance.
</p>

<p>
      To date, The GYM has invested over €250,000 into 
      the gym which boasts fantastic views over the city 
      centre and enjoys state of the art equipment and facilities. 
      The most significant investment has been to the luxurious 
      changing rooms, thermal suite, spin studio and gym floor. 
      In addition, Icon Health Club is the first club to bring 
      the revolutionary Milon Circle to Ireland. Our members benefit 
      not only by it’s convenient city centre location but from the 
      little extras such as hair straighteners, towels, permanent 
      lockers, shampoo, moisturisers and much much more
</p>
</div>