<div class="center jumbotron">
<% provide(:title, "Membership") %>

<h1>Membership</h1>
  <br>
  <div class="row">
  <div class="col-lg-6">
     <img alt="logo" src="/assets/6.jpg" style=width:100%; class="pull-left">
  </div> 
  <div class="col-lg-6">
      <ul class="list-group center-list">
         <li class="list-group-item">24/7 Gym Access</li>
         <li class="list-group-item">Free WorkOut Towel </li>
         <li class="list-group-item">Free Workout Mobile Appp</li>
         <li class="list-group-item">Unlimited Classes</li>
         <li class="list-group-item">yoga</li>
         <li class="list-group-item">Starting Price: 75euro/month </li>
       </ul>
  </div>  
  </div>
  <br><br>
  <div class="row">
  <div class="col-lg-6">
     <img alt="logo" src="/assets/5.jpg" style=width:100%; class="pull-left">
  </div> 
  <div class="col-lg-6">
      <ul class="list-group center-list">
         <li class="list-group-item">24/7 Gym Access</li>
         <li class="list-group-item">Free Workout Towel </li>
         <li class="list-group-item">Yoga</li>
         <li class="list-group-item">Unlimited Classes</li>
         <li class="list-group-item">Trainer Guided Workouts</li>
         <li class="list-group-item">Starting Price: 85euro/month </li>
       </ul>
  </div>  
  </div>
  <br><br>
  <div class="row">
  <div class="col-lg-6">
     <img alt="logo" src="/assets/4.jpg" style=width:100%; class="pull-left">
  </div> 
  <div class="col-lg-6">
      <ul class="list-group center-list">
         <li class="list-group-item">18-35 Student 25% OFF</li>
         <li class="list-group-item">12-18 Student 35% OFF </li>
         <li class="list-group-item">Kids  Student 50% OFF</li>
         <li class="list-group-item">24/7 Access</li>
         <li class="list-group-item">Free Workout Mobile App</li>
         <li class="list-group-item">Starting Price: 35euro</li>
       </ul>
  </div>  
  </div>
  <br><br>
</div>